.logo{
    position: absolute;
    top: -13px;
    height: 110px;
}
.navbar{
    background-color  : #001E41 !important;
}
.nav-link{
    color: white !important;
    font-size: 18px;
    font-weight: 700;

}
.login-circle { 
    padding: 5px 15px;
    border-radius: 35px; 
    text-align: center; 
    border:1px solid white;
    color:white;
    background: none;

} 
.nav-item{
    margin-right: 50px;

}